<div class="ibox-content mailbox-content">
    <div class="file-manager">
        <h5>功能列表</h5>
        <ul class="category-list" style="padding: 0">
            <li><a th:href="|${contextPath}/system/list|"> <i class="fa fa-circle text-navy"></i> 售票系统 </a></li>
            <li><a th:href="|${contextPath}/store/list|"> <i class="fa fa-circle text-navy"></i> 影城管理 </a></li>
            <li><a th:href="|${contextPath}/movie/list|"> <i class="fa fa-circle text-navy"></i> 影讯管理 </a></li>
            <li><a th:href="|${contextPath}/schema/list|"> <i class="fa fa-circle text-navy"></i> 票类管理 </a></li>
            <li><a th:href="|${contextPath}/ssclog/list|"> <i class="fa fa-circle text-navy"></i> 调用日志 </a></li>
            <li><a th:href="|${contextPath}/ticketSalesRules/list|"> <i class="fa fa-circle text-navy"></i> 价格策略 </a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>